
{% extends "base_error.html" %}

{% block content %}

{% block body %}

<!-- Error section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"> Sorry, Page Not Found</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <!-- Image -->

      <img src="/static/img/404.png" class="center" style="width:150x;height:150px;">
        </span>
        <p class="text-muted">The page you are looking for might have been
          removed had its name changed or is temporarily
          unavailable.</p>






</div>
  </div>

  </div>


</section>


    {% endblock %}



{% endblock %}
