
{% extends "base_inhibitor_search.html" %}

{% block content %}

{% block body %}

<!-- The Phosphoproteomics section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Choose an inhibitor</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

<html>
<body>

<h2>Inhibitor Name</h2>
{% for name in inhibresults:%}
  <a href="{{ url_for('inhibitor_result', searched=name)}}"> {{name}} <br/> </a>
{% endfor %}

</body>
</html>
</div>
</div>
</div>
</section>


    {% endblock %}



{% endblock %}
