
{% extends "base_kinase_result.html" %}

{% block content %}

{% block body %}

<!-- The Kinase table section -->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Your Search Results:</h2>

        </div>
        <span class="counter pull-right"></span>


<header>

  <style>

h2{
  line-height: 65px;
}
</style>



    <h2>Kinase Name</h2>
  {% for name, accession, gene in searchresult:%}
    <a href="{{ url_for('kinase_results', searched=name)}}"> {{name}}</a>
    <a> {{ accession }} {{ gene }} <br/> </a>
  {% endfor %}
  </header>




    {% endblock %}



{% endblock %}
