
{% extends "base_upload_page2.html" %}

{% block content %}

{% block body %}

<!-- The Phosphoproteomics upload section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Upload your file below</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

        <!-- The Image -->


      <img src="/static/img/upload.png" class="center" style="width:80px;height:90px;">
<html>
<body>

  <!-- The Flask Upload Form (edited to / upload for elastic beanstalk) -->

  <form action = "/uploader" method = "POST"
     enctype = "multipart/form-data">
     <input type = "file" name = "file" />
     <input type = "submit"/>
  </form>

</body>
</html>
</div>
</div>
</div>
</section>


    {% endblock %}



{% endblock %}
