<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Bootstrap core CSS - These CSS files are linked externally-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template linked from Google and cloudflare -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this page, each page has its own specific two style sheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
    <link rel="stylesheet" type="text/css" href="/static/css/error.min.css">
    <title>Error: Please Check Again</title>

    {% endblock %}
    <!-- The intro text and background image -->
    <div id="content">

    <header class="masthead">
        <div class="container">
          <div class="intro-text">
            <div class="intro-heading text-uppercase">Error.</div>
          </header>

      {% block navbar %}
      <!-- The top navigation bar with the Website title -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">FALSONE Protein Database</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          </button>

          <!-- The main navigation bar -->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                  <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{{ url_for('kinase_db') }}">Kinase DB</a>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{{ url_for('inhibitor_search') }}">Inhibitor Search</a>
                      <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{{ url_for('upload') }}">Upload File</a>
                          <li class="nav-item">
                          </li>

              <!-- The search bar in the middle of the page-->
              <div class="wrap">
                      <form method="get" action="kinase_results"
                <div class="col-lg-10 text-center">
                <div class="search">
                  <div class="col-lg-9 text-center">
                  <input type="text" name="search2" class="searchTerm" placeholder="Search for a human kinase">
                  <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </ul>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
      </style>
      </head>
      <body>
      </nav>
      {% endblock %}
      {% block body %}
      {% endblock%}

      <!-- The footer-->
    </div>
    <div id="footer">
        {% block footer %}
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-4">

                <!-- The copyright and the social media buttons in the footer-->

                <span class="copyright">Copyright &copy; Your Website 2018</span>
                <span class="copyright"> www.phosphosite.org/</span>
              </div>
              <div class="col-md-4">
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Privacy Policy and Terms and Conditions-->

              <div class="col-md-4">
                <ul class="list-inline quicklinks">
                  <li class="list-inline-item">
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">Terms of Use</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    </div>

    {% block scripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js" integrity="sha256-iY0FoX8s/FEg3c26R6iFw3jAtGbzDwcA5QJ1fiS0A6E=" crossorigin="anonymous"></script>    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this page -->
    <script src="/static/js/agency.min.js"></script>

    {% endblock %}
  </body>
  </html>
  {% endblock %}
