
{% extends "base_inhibitor_search.html" %}

{% block content %}

{% block body %}

<!-- The Phosphoproteomics section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Search for a Kinase Inhibitor</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

<html>
<body>

  <!-- The Upload Form -->
      <form method="get" action="/inhibitor_intermediate"
      <div class="col-lg-12 text-center">
      <div class="search">
        <div class="col-lg-10 text-center">
        <input type="text" name="search2" class="searchTerm" placeholder="Search for a kinase inhibitor">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>


</body>
</html>
</div>
</div>
</div>
</section>


    {% endblock %}



{% endblock %}
