
{% extends "base_upload.html" %}

{% block content %}

{% block body %}

<!-- The Phosphoproteomics section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Upload your own Phosphoproteomics dataset</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

        <!--  Image -->

      <img src="/static/img/upload.png" class="center" style="width:80px;height:90px;">

      <h5 class="import_advice">Requirements for dataset: </h5>
        <p class="text-muted"> File must be in TSV format. </p>
        <p class="text-muted">Only one experimental treatment and control allowed per dataset. </p>

<html>
<body>

  

<a class="btn btn-primary" href="{{ url_for('upload2') }}" role="button">Click Here To Upload </a>

</body>
</html>
</div>
</div>
</div>
</section>


    {% endblock %}



{% endblock %}
