
{% extends "base_index.html" %}

{% block content %}

{% block body %}


<!-- About -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">The mission of The Falsone Protein Database is to provide the scientific community with a freely accessible information on protein kinases, the inbitors that are known to act on them and .</h3>

      </div>
    </div>
  </section>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Features</h2>
          </div>
        </div>
      </div>

        <div class="row text-center">
          <div class="col-md-4">
          <img src="/static/img/kinase.png" alt="Girl in a onci" style="width:80px;height:90px;">

            <h4 class="service-heading">Search Kinases </h4>

            <p class="text-muted">Discover background information on any known human kinase, including their name, gene symbol,the kinase families they belong to, their cellular locations and all sites they are known to phsphorylate.  </p>
          </div>
          <div class="col-md-4">
          <img src="/static/img/inhibitor.png" alt="Girl in a onci" style="width:80px;height:90px;">
            <h4 class="service-heading">Search Kinase Inhibitors</h4>
            <p class="text-muted">Discover background information on all known inhibitors of human protein kinases, including their name, chemical structure and the kinases they are known to inhibit.</p>
          </div>
          <div class="col-md-4">

          <img src="/static/img/upload.png" alt="Girl in a onci" style="width:80px;height:90px;">
            <h4 class="service-heading">Import your own dataset</h4>
            <p class="text-muted">Upload your phosphophroteomics data to receive a graphical summmary of your results and the relative activity of all human kinases in the data.</p>

            


          </div>
        </div>
      </div>
    </section>

  </section>


  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Meet the team</h2>
          <h3 class="section-subheading text-muted">The best the world has even seen.Period.Better than the Avengers.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/1.jpg" alt="">
            <h4>Fatma</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/2.jpg" alt="">
            <h4>Josie</h4>
            <p class="text-muted">Lead Marketer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
           <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/2.jpg" alt="">
            <h4>Ishaac</h4>
            <p class="text-muted">Lead Marketer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/3.jpg" alt="">
            <h4>Richard</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    {% endblock %}



{% endblock %}
