
{% extends "base_inhibitor_db.html" %}

{% block content %}

{% block body %}

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Kinase Inhibitor Database</h2>


        </head>
        </div>
        <span class="counter pull-right"></span>

        <table id="inhibitor_db" class="table table-bordered table-striped">


          <thead><tr><th title="Field #1">Inhibitor</th>
          <th title="Field #2">PubChem ID</th>
          <th title="Field #3">Chemical formula</th>
          <th title="Field #4">Chemical Structure</th>
          </tr></thead>
          <tbody><tr>
          <td>(5Z)-7-Oxozeaenol</td>
          <td align="right">53442201</td>
          <td>C19H22O7</td>
          <td align="center"> <img src = "https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=53442201&amp;width=150&amp;height=150"></img></th>
          </tr>
          <tr>
          <td>1 NA-PP1 (PP1 Analog)</td>
          <td align="right">4877</td>
          <td>C19H19N5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=4877&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>1 NM-PP1 (PP1 Analog II)</td>
          <td align="right">5154691</td>
          <td>C20H21N5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5154691&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>2-Aminopurine</td>
          <td align="right">9955</td>
          <td>C5H5N5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9955&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>A-443654</td>
          <td align="right">10172943</td>
          <td>C24H23ON5x2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10172943&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>A-769662</td>
          <td align="right">54708532</td>
          <td>C20H12N2O3S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=54708532&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>A-83-01</td>
          <td align="right">16218924</td>
          <td>C25H19N5S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16218924&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AG1296 (Tyrphostin)</td>
          <td align="right">2049</td>
          <td>C16H14N2O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10172943&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AG1478 (Tyrphostin)</td>
          <td align="right">2051</td>
          <td>C16H14ClN3O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2051&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AG490</td>
          <td align="right">5328779</td>
          <td>C17H14N2O3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5328779&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AG879 (Tyrphostin)</td>
          <td align="right">5487525</td>
          <td>C18H24N2OS</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5487525&amp;width=150&amp;height=150"></img></td>
          <td></td>
          </tr>
          <tr>
          <td>Akt Inhibitor IV</td>
          <td align="right">5719375</td>
          <td>C31H27IN4S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5719375&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Akti 1/2</td>
          <td align="right">10196499</td>
          <td>C34H29N7O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10196499&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Alsterpaullone</td>
          <td align="right">5005498</td>
          <td>C16H11N3O3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5005498&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Amlexanox</td>
          <td align="right">2161</td>
          <td>C16H14N2O4 </td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2161&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>ARA014418</td>
          <td align="right">448014</td>
          <td>C12H12N4O4S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=448014&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AS601245 (JNK Inhibitor V)</td>
          <td align="right">11422035</td>
          <td>C20H16N6S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11422035&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AX 20017</td>
          <td align="right">673481</td>
          <td>C13H16N2O2S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=673481&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>AZD8055</td>
          <td align="right">25262965</td>
          <td>C25H31N5O4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=25262965&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BAY 61-3606</td>
          <td align="right">10200390</td>
          <td>C20H18N6O3 ?? xHCl ?? yH2O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10200390&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Bay 65-1942</td>
          <td align="right">66575052</td>
          <td>C22H26ClN3O4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=66575052&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BAY-11-7082</td>
          <td align="right">5353431</td>
          <td>C10H9NO2S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5353431&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BAY439006 (Sorafenib, Nexavar)</td>
          <td align="right">216239</td>
          <td>C21H16ClF3N4O3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5353431&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BI 2536</td>
          <td align="right">11364421</td>
          <td>C28H39N7O3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11364421&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BI-78D3</td>
          <td align="right">2747117</td>
          <td>C13H9N5O5S2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2747117&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BI-D-1870</td>
          <td align="right">25023738</td>
          <td>C19H23N5O2F2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=25023738&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BIO (6-Bromoindirubin-3&#39;-oxime)</td>
          <td align="right">5287844</td>
          <td>C16H10BrN3O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5287844&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BIRB-0796 (Doramapimod)</td>
          <td align="right">156422</td>
          <td>C31H37N5O3   </td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=156422&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Blebbistatin</td>
          <td align="right">3476986</td>
          <td>C18H16N2O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3476986&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BMS345541 (IKK Inhibitor III)</td>
          <td align="right">9926054</td>
          <td>C14H17N5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9926054&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Bosutinib</td>
          <td align="right">5328940</td>
          <td>C26H29Cl2N5O3   </td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5328940&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BX-320</td>
          <td align="right">657138</td>
          <td>C23H31BrN8O3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=657138&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BX-517</td>
          <td align="right">11161844</td>
          <td>C15H14N4O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11161844&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BX-517 Analog (compound 7b)</td>
          <td align="right">11588244</td>
          <td>C19H15N5O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11588244&amp;width=150&amp;height=150"></img></td>
          <td></td>
          </tr>
          <tr>
          <td>BX-795</td>
          <td align="right">10077147</td>
          <td>C23H26IN7O2S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10077147&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>BX-912</td>
          <td align="right">11754511</td>
          <td>C20H23BrN8O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11754511&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Caffeine</td>
          <td align="right">2519</td>
          <td>C8H10N4O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2519&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>CAY10576</td>
          <td align="right">11626927</td>
          <td>C22H19N3O5S2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11626927&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Celastrol</td>
          <td align="right">92310323</td>
          <td>C29H38O4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=92310323&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>CGP-57380</td>
          <td align="right">11644425</td>
          <td>C11H9FN6</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11644425&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Chelerythrine Chloride</td>
          <td align="right">72311</td>
          <td>C21H18NO4Cl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=72311&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>CHIR 99021 (CT 99021)</td>
          <td align="right">9956119</td>
          <td>C22H18Cl2N8</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9956119&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Chloroquine</td>
          <td align="right">2719</td>
          <td>C18H26ClN3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2719&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>CKI-7</td>
          <td align="right">129236</td>
          <td>C11H12ClN3O2S ?Çó 2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=129236&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Compound C (Dorsomorphin)</td>
          <td align="right">11524144</td>
          <td>C24H25N5O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11524144&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>CP-690550 (Tasocitinib)</td>
          <td align="right">9926791</td>
          <td>C16H20N6O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9926791&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Crenolanib</td>
          <td align="right">10366136</td>
          <td>C26H29N5O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10366136&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Curcumin</td>
          <td align="right">969516</td>
          <td>C21H20O6</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=969516&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>D 4476</td>
          <td align="right">6419753</td>
          <td>C23H18N4O3</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=6419753&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Dasatinib</td>
          <td align="right">3062316</td>
          <td>C22H26ClN7O2S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3062316&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Dimethyl fumarate</td>
          <td align="right">637568</td>
          <td>C6H8O4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=637568&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>EGCG (Epigallocatechin Gallate)</td>
          <td align="right">65064</td>
          <td>C22H18O11</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=65064&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>EMD638683</td>
          <td align="right">44182398</td>
          <td>C18H18F2N</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=44182398&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>ER-27319</td>
          <td align="right">9799508</td>
          <td>C20H22N2O5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9799508&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Febuxostat (TMX-67, Adenuric, Uloric)</td>
          <td align="right">134018</td>
          <td>C16H16N2O3S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=134018&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>FMK (Caspase Inhibitor I)</td>
          <td align="right">5737</td>
          <td>C22H30FN3O7</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5737&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Fostamatinib</td>
          <td align="right">11671467</td>
          <td>C23H26FN6O9P</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11671467&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GDC-0941</td>
          <td align="right">17755052</td>
          <td>C23H29N7O3S2Cl2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=17755052&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Genistein</td>
          <td align="right">5280961</td>
          <td>C15H10O5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5280961&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GF 109203X (Go 6850)</td>
          <td align="right">2396</td>
          <td>C25H24N4O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2396&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Gleevec (Imatinib)</td>
          <td align="right">5291</td>
          <td>C29H31N7O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5291&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>G?? 6976</td>
          <td align="right">3501</td>
          <td>C24H18N4O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3501&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>G?? 7874</td>
          <td align="right">5327863</td>
          <td>C27H26N4O4 ?Çó HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5327863&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GSK2334470</td>
          <td align="right">46215815</td>
          <td>C25H34N8O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=46215815&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GSK2606414</td>
          <td align="right">53469448</td>
          <td>C24H20F3N5O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=53469448&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GSK269962A</td>
          <td align="right">16095342</td>
          <td>C29H30N8O5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16095342&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GSK429286</td>
          <td align="right">11373846</td>
          <td>C21H16F4N4O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11373846&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GSK461364</td>
          <td align="right">15983966</td>
          <td>C27H28F3N5O2S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=15983966&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GSK650394A</td>
          <td align="right">25022668</td>
          <td>C25H22N2O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=25022668&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GW441756 hydrochloride</td>
          <td align="right">16219400</td>
          <td>C17H13N3O ?Çó HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16219400&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GW501516</td>
          <td align="right">9803963</td>
          <td>C21H18F3NO3S2 </td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9803963&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GW5074 (Raf1 Kinase Inhibitor I)</td>
          <td align="right">5924208</td>
          <td>C15H8Br2INO2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5924208&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>GW843682X (GSK-PLK1 Compound 2)</td>
          <td align="right">9826308</td>
          <td>C22H18F3N3O4S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9826308&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>H-1152 (Rho Kinase Inhibitor)</td>
          <td align="right">16760633</td>
          <td>C16H21N3O2S ?Çó 2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16760633&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>H-7, Dihydrochloride</td>
          <td align="right">3542</td>
          <td>C14H17N3O2S ?Çó 2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3542&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>H-8, Dihydrochloride</td>
          <td align="right">7000066</td>
          <td>C12H15N3O2S ?Çó 2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=7000066&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>H-89, Dihydrochloride</td>
          <td align="right">5702541</td>
          <td>C20H20BrN3O2S ?Çó 2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5702541&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>HA-1077, Dihydrochloride (Fasudil)</td>
          <td align="right">16219471</td>
          <td>C14H17N3O2S ?Çó 2HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16219471&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>HA-1100 (Hydroxyfasudil)</td>
          <td align="right">3064778</td>
          <td>C14H17N3O3S.HCl</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3064778&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Harmaline</td>
          <td align="right">5280951</td>
          <td>C13H14N2O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5280951&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Harmalol</td>
          <td align="right">5353656</td>
          <td>C12H12N2O ?Çó HCl ?Çó 2H2O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5353656&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Harmane</td>
          <td align="right">5281404</td>
          <td>C12H10N2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5281404&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Harmine</td>
          <td align="right">5280953</td>
          <td>C13H12N2O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5280953&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Hypothemycin</td>
          <td align="right">6474405</td>
          <td>C19H22O8</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=6474405&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IC261</td>
          <td align="right">5288600</td>
          <td>C18H17NO4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5288600&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IKK Inhibitor VII</td>
          <td align="right">9549298</td>
          <td>C28H29N5OS </td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9549298&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IKK-2 Inhibitor IV (TPCA-1)</td>
          <td align="right">9903786</td>
          <td>C12H10FN3O2S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9903786&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IKK-2 Inhibitor VIII</td>
          <td align="right">66576999</td>
          <td>C21H24N4O2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=66576999&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IKK-3 inhibitor IX</td>
          <td align="right">11626927</td>
          <td>C22H19N3O5S2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11626927&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IMD-0354</td>
          <td align="right">5081913</td>
          <td>C15H8ClF6NO2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5081913&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IPA-3</td>
          <td align="right">521106</td>
          <td>C20H14O2S2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=521106&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>IRAK 1-4 Inhibitor 1</td>
          <td align="right">11983295</td>
          <td>C20H21N5O4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11983295&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>K252a</td>
          <td align="right">127357</td>
          <td>C27H21N3O5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=127357&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Kalopanaxsaponin A</td>
          <td align="right">73296</td>
          <td>C41H66O12</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=73296&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>Kenpaullone</td>
          <td align="right">3820</td>
          <td>C16H11BrN2O</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3820&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>KN62</td>
          <td align="right">5312126</td>
          <td>C38H35N5O6S2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5312126&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>KN93</td>
          <td align="right">5312122</td>
          <td>C26H29CIN2O4S</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5312122&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>KT5720</td>
          <td align="right">454202</td>
          <td>C32H31N3O5</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=454202&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>KU 0063794</td>
          <td align="right">16736978</td>
          <td>C25H31N5O4</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16736978&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>KU 55933</td>
          <td align="right">5278396</td>
          <td>C21H17NO3S2</td>
          <td align="center"> <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5278396&amp;width=150&amp;height=150"></img></td>
          </tr>
          <tr>
          <td>KU55933</td>
          <td align="right">5278396</td>
          <td>C21H17NO3S2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5278396&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>LDN-193189</td>
          <td align="right">25195294</td>
          <td>C25H22N6</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=25195294&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Leflunomide</td>
          <td align="right">3899</td>
          <td>C12H9F3N2O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3899&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Lenalidomide (Revlimid)</td>
          <td align="right">216326</td>
          <td>C13H13N3O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=216326&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>LFM-A13</td>
          <td align="right">54676905</td>
          <td>C11H8Br2N2O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=54676905&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>LiCl</td>
          <td align="right">433294</td>
          <td>ClLi</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=433294&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>LY294002</td>
          <td align="right">3973</td>
          <td>C19H17NO3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3973&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>LY333531 (Ruboxistaurin)</td>
          <td align="right">153999</td>
          <td>C28H28IN4O3 .CH4O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=153999&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>LY364947</td>
          <td align="right">447966</td>
          <td>C17H12N4</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=447966&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Metformin</td>
          <td align="right">4091</td>
          <td>C4H11N5 </td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=4091&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>MK-2206</td>
          <td align="right">46930998</td>
          <td>C25H21N5O.2HCl</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=46930998&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>ML-7, Hydrochloride</td>
          <td align="right">9803932</td>
          <td>C15H17IN2O2S ?Çó HCl</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9803932&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>ML-9, Hydrochloride</td>
          <td align="right">108047</td>
          <td>C15H17ClN2O2S ?Çó HCl</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=108047&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>MLN4924</td>
          <td align="right">16720766</td>
          <td>C21H26ClN5O4S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16720766&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>MLN9708</td>
          <td align="right">49867936</td>
          <td>C20H23BCl2N2O9</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=49867936&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>MRT67307</td>
          <td align="right">44464263</td>
          <td>C26H36N6O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=44464263&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Necrostatin-1 (Nec-1)</td>
          <td align="right">2828334</td>
          <td>C13H13N3OS</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2828334&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Nectrostatin-1 (Nec-1 inactive analog)</td>
          <td align="right">5371761</td>
          <td>C12H11N3OS</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5371761&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>NG-25</td>
          <td align="right">53340664</td>
          <td>C29H30F3N5O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=53340664&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>NVP-BEZ 235</td>
          <td align="right">11977753</td>
          <td>C30H25Cl2N5O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11977753&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>OSU-03012</td>
          <td align="right">10027278</td>
          <td>C26H19F3N4O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10027278&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Parthenolide</td>
          <td align="right">6473881</td>
          <td>C15H20O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=6473881&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PCI-32765 (Ibrutinib)</td>
          <td align="right">24821094</td>
          <td>C25H24N6O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=24821094&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PD 0325901</td>
          <td align="right">9826528</td>
          <td>C16H14F3IN2O4</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9826528&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PD 0325901-Cl (CI-1055-R)</td>
          <td align="right">5330286</td>
          <td>C16H14O4N2F2ClI</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5330286&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PD 0325901-Cl (CI-1055-S)</td>
          <td align="right">160968186</td>
          <td>C16H14O4N2F2ClI</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=160968186&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PD 0332991</td>
          <td align="right">5330286</td>
          <td>C24H30ClN7O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5330286&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PD 184352 (CI-1040)</td>
          <td align="right">6918454</td>
          <td>C17H14ClF2IN2O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=6918454&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PI-103</td>
          <td align="right">9884685</td>
          <td>C19H16N4O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9884685&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Piceatannol</td>
          <td align="right">667639</td>
          <td>C14H12O4</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=667639&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Pirfenidone</td>
          <td align="right">40632</td>
          <td>C12H11NO</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=40632&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PKR Inhibitor</td>
          <td align="right">6490494</td>
          <td>C13H8N4OS</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=6490494&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PLX 4032 (Vemurafenib)</td>
          <td align="right">42611257</td>
          <td>C23H18ClF2N3O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=42611257&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PLX 4720 (Raf Kinase Inhibitor V)</td>
          <td align="right">24180719</td>
          <td>C17H14ClF2N3O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=24180719&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PP1</td>
          <td align="right">1400</td>
          <td>C16H19N5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=1400&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PP2</td>
          <td align="right">4878</td>
          <td>C15H16ClN5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=4878&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PP242</td>
          <td align="right">24905147</td>
          <td>C16H16N6O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=24905147&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PP3</td>
          <td align="right">4879</td>
          <td>C11H9N5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=4879&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>PS-1145</td>
          <td align="right">9949093</td>
          <td>C17H11ClN4O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9949093&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Purvalanol A</td>
          <td align="right">456214</td>
          <td>C19H25ClN6O </td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=456214&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Purvalanol B</td>
          <td align="right">448991</td>
          <td>C20H25ClN6O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=448991&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>QNZ</td>
          <td align="right">509554</td>
          <td>C22H20N4O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=509554&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Quercetagetin</td>
          <td align="right">5281680</td>
          <td>C15H10O8</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5281680&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>R-406</td>
          <td align="right">11213558</td>
          <td>C23H24FN5O5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11213558&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Rapamycin</td>
          <td align="right">5284616</td>
          <td>C51H79NO13</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5284616&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Resveratrol</td>
          <td align="right">445154</td>
          <td>C14H12O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=445154&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>RO-31-8220</td>
          <td align="right">11628205</td>
          <td>C25H23N5O2S ?Çó CH4O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11628205&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>RO-3306</td>
          <td align="right">71433937</td>
          <td>C?éü?éêH?éü?éâN?éâOS?éé</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=71433937&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Roscovitine</td>
          <td align="right">160355</td>
          <td>C19H26N6O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=160355&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Rottlerin</td>
          <td align="right">5281847</td>
          <td>C30H28O8</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5281847&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Ruxolitinib (INCB18424)</td>
          <td align="right">25126798</td>
          <td>C17H18N6</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=25126798&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Saracatinib (AZD0530)</td>
          <td align="right">10302451</td>
          <td>C27H32ClN5O5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10302451&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-202190</td>
          <td align="right">5353940</td>
          <td>C20H14FN3O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5353940&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-203580</td>
          <td align="right">176155</td>
          <td>C21H16N3OSF</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=176155&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-216763</td>
          <td align="right">176158</td>
          <td>C19H12Cl2N2O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=176158&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-415286</td>
          <td align="right">4210951</td>
          <td>C16H10ClN3O5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=4210951&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-431542</td>
          <td align="right">4521392</td>
          <td>C22H16N4O3 ?? xH2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=4521392&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-505124</td>
          <td align="right">9858940</td>
          <td>C20H21N3O2 ?? xHCl ?? yH2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9858940&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-590885</td>
          <td align="right">11465183</td>
          <td>C27H27N5O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11465183&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SB-747651A</td>
          <td align="right">11393719</td>
          <td>C16H22N8O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11393719&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SC514 ( IKK-2 Inhibitor)</td>
          <td align="right">2807869</td>
          <td>C9H8N2OS2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=2807869&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SL-327 (MEK1-2 Inhibitor)</td>
          <td align="right">9549284</td>
          <td>C16H12F3N3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=9549284&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SL0101-1</td>
          <td align="right">10459196</td>
          <td>C25H24O12</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10459196&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Sodium salicylate</td>
          <td align="right">16760658</td>
          <td>HOC6H4COONa</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16760658&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Sodium valproate</td>
          <td align="right">16760703</td>
          <td>C8H15NaO2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16760703&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SP600125 (JNK Inhibitor II,  SAPK Inhibitor II)</td>
          <td align="right">8515</td>
          <td>C14H8N2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=8515&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Sphingosine Kinase Inhibitor (SKI II)</td>
          <td align="right">16760659</td>
          <td>C15H11ClN2OS</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16760659&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SRC Inhibitor 1</td>
          <td align="right">1474853</td>
          <td>C22H19N3O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=1474853&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SRT 1720</td>
          <td align="right">25232708</td>
          <td>C27H24F3N7O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=25232708&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Staurosporine</td>
          <td align="right">451705</td>
          <td>C28H26N4O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=451705&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>STO 609</td>
          <td align="right">51371511</td>
          <td>C19H10N2O3 ?Çó CH3CO2H</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=51371511&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>STOCK1S-50699</td>
          <td align="right">5332561</td>
          <td>C29H31IN2S2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5332561&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>STOCK2S-26016</td>
          <td align="right">3135086</td>
          <td>C20H19N3O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3135086&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SU-5416 (VEGFR2 Kinase Inhibitor III)</td>
          <td align="right">5329098</td>
          <td>C15H14N2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5329098&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SU-6656</td>
          <td align="right">5312137</td>
          <td>C19H21N3O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5312137&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SU-6668</td>
          <td align="right">5329099</td>
          <td>C18H18N2O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5329099&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Sulfasalazine</td>
          <td align="right">5359476</td>
          <td>C18H14N4O5S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5359476&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Sunitinib (SU-11248)</td>
          <td align="right">5329102</td>
          <td>C22H27FN4O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5329102&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SYK Inhibitor I</td>
          <td align="right">6419747</td>
          <td>C18H15N3O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=6419747&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SYK Inhibitor II</td>
          <td align="right">16760670</td>
          <td>C14H15F3N6O ?Çó 2HCl?Çó2H2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16760670&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SYK Inhibitor III</td>
          <td align="right">672296</td>
          <td>C9H7NO4</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=672296&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>SYK Inhibitor IV (BAY 61-3606)</td>
          <td align="right">11784504</td>
          <td>C20H18N6O3 ?Çó HCl ?Çó H2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11784504&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>TAE684</td>
          <td align="right">16038120</td>
          <td>C30H40ClN7O3S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=16038120&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Tenovin-6</td>
          <td align="right">24772043</td>
          <td>C25H34N4O2S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=24772043&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>TG003</td>
          <td align="right">1893668</td>
          <td>C13H15NO2S</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=1893668&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Torin1</td>
          <td align="right">49836027</td>
          <td>C35H28F3N5O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=49836027&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Ubiquitin E1 Inhibitor (PYR-41)</td>
          <td align="right">5335621</td>
          <td>C17H13N3O7 ?Çó 3H2O </td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5335621&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>UCN-01</td>
          <td align="right">72271</td>
          <td>C28H26N4O4</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=72271&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Uo126</td>
          <td align="right">1506531</td>
          <td>C18H16N6S2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=1506531&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Volasertib</td>
          <td align="right">10461508</td>
          <td>C34H50N8O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=10461508&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>VX-680</td>
          <td align="right">5494449</td>
          <td>C23H28N8OS</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5494449&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>VX-745</td>
          <td align="right">3038525</td>
          <td>C19H9Cl2F2N3OS</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=3038525&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Withaferin A</td>
          <td align="right">265237</td>
          <td>C28H38O6</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=265237&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>WNK-463</td>
          <td align="right">121487936</td>
          <td>C21H24F3N7O2</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=121487936&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Wortmannin (KY 12420)</td>
          <td align="right">312145</td>
          <td>C23H24O8</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=312145&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>WP1130</td>
          <td align="right">11222830</td>
          <td>C19H18BrN3O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=11222830&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Y-27632</td>
          <td align="right">448042</td>
          <td>C14H21N3O ?Çó 2HCl ?Çó H2O</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=448042&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>Zearalenone</td>
          <td align="right">5281576</td>
          <td>C18H22O5</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5281576&amp;width=150&amp;height=150</td>
          </tr>
          <tr>
          <td>ZM 336372</td>
          <td align="right">5730</td>
          <td>C23H23N3O3</td>
          <td>https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=5730&amp;width=150&amp;height=150</td>
          </tr>
          </tbody></table>




        <input type="button" id="btnExport" class="btn btn-warning" value="Export to Excel"  onclick="Export()"

<button type="button" /button>
</section>

    {% endblock %}



{% endblock %}
